*{
    margin: o;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f5e8ba;
    text-align: center; 
}
h2{
    text-align: center;
    color: darkgreen;
    }
#msg{
    margin-bottom: 1em;
    
}
#gameboard{
    border:3px solid;
    

}
#score{
    margin-top: 1em;
    font-size: 2em;
}
#controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.middle {
  display: flex;
  gap: 40px;
}

#controls button {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  font-size: 24px;
}
